
apiVersion: v1
clusters:
- cluster:
    server: http://localhost:3000/api/mock-kubernetes
    insecure-skip-tls-verify: true
  name: mock-k8s-cluster
contexts:
- context:
    cluster: mock-k8s-cluster
    user: mock-user
  name: mock-context
current-context: mock-context
kind: Config
preferences: {}
users:
- name: mock-user
  user:
    token: mock-token
